<!DOCTYPE html>
<html lang="en" ng-app="ToDo">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Angular To Do App</title>
<!-- stylesheet -->
<link rel=stylesheet href="style.css">

<!-- Angular Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
	<div ng-controller="todoController">
		<form name="frm" ng-submit="addTodo()" ng-model="newtodo" required />
			<input type="text" name="newtodo">
			<button ng-disabled="frm.$invalid">GO</button>
		</form>
			<button ng-click="clearCompleted()">Clear Completed</button>
	</div>
	<ul>
		<li ng-repeat="todo in todos">
			<input type="checkbox" ng-model="todo.done" />
			<span ng-class="{'done':todo.done}">{{todo.title}}</span>
		</li>
	</ul>

 


<script>

angular.module('ToDo', []).
controller('todoController', ['$scope', function($scope){
	$scope.todos = [
		{'title':'Build a todo app','done':false}
	];
			
	$scope.addtodo = function(){}
	$scope.clearCompleted = function(){}
}])

</script>
</body>
</html>
